<!-- <header> -->
<nav class="header-nav">
  <div class="navbar__container">
    <a class="header-title" href="/roots">
      <img width="150px" src="/public/images/treesury.png" alt="Treesury Logo" id="navbar__logo">
    </a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar" title="Toggle menu"><i class="fas fa-folder-tree"></i></span>
    </div>
    <ul class="nav">
      <li class="navbar__item" title="View all categories">
        <a class="navbar__links" href="/#section-a">About</a>
      </li>
      <li class="navbar__item" title="View all categories">
        <a class="navbar__links" href="/categories">Categories</a>
      </li>
      <li class="navbar__item" title="Create a new category">
        <a class="navbar__links" href="/categories/new">Add Category</a>
      </li>
      <li class="navbar__item" title="View all trees">
        <a class="navbar__links" href="/trees">Trees</a>
      </li>
      <li class="navbar__item" title="Add a new tree">
        <a class="navbar__links" href="/trees/new">New Tree</a>
      </li>
    </ul>
  </div>
</nav>
<!-- </header> -->