@font-face {
	font-family: 'Gotham Rounded';
	src: url('../public/fonts/GothamRounded-Bold.woff2') format('woff2'),
		url('../public/fonts/GothamRounded-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('../public/fonts/GothamRounded-Medium.woff2') format('woff2'),
		url('../public/fonts/GothamRounded-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('../public/fonts/GothamRounded-Light.woff2') format('woff2'),
		url('../public/fonts/GothamRounded-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded Book';
	src: url('../public/fonts/GothamRounded-Book.woff2') format('woff2'),
		url('../public/fonts/GothamRounded-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
  --ground: #8d5d39;
  --clouds: #dfdbd6;
  --karat: #fdc128;
  --grass: #80cc28;
  --tomato: tomato;
  --color-btn: hsl(var(--color-base-hue), 100%, 20%);
  --color-btn-border: black;
  font-family: 'Gotham Rounded';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: #444;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  border: 1px solid var(--color-btn-border);
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-family: 'Gotham Rounded';
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-row>*:first-child {
  margin-left: 0;
}

.btn-primary {
  color: var(--color-btn);
}

.btn-primary:hover {
  color: white;
  background-color: var(--grass);
  border-color: var(--grass);
}

.btn-danger {
  color: var(--color-btn);
}

.btn-danger:hover {
  color: white;
  background-color: var(--tomato);
  border-color: var(--tomato);
}