:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
  }
  /* Navbar Section */
  .header-title img {
    width: 30%;
    border-radius: 50%;
    padding-top: 10px;
  }
  
  .header-nav {
    background: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    top: 0;
    z-index: 999;
    position: absolute;
  }
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  .nav {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__links {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  .header-nav li a:hover,
  .header-title:hover {
    color: var(--karat);
  }
  
  .navbar__toggle .bar {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .header-nav{
      width: 90%;
      left: 0;
    }
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 90%;
      padding: 0;
    }
    .nav {
      flex-direction: column;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 0;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
      background: white;
    }
    .nav.active {
      background: var(--karat);
      top: 100%;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 100vh;
      width: 100vw;
      font-size: 1.3rem;
      text-align: center;
    }
  
    .nav.active .navbar__item {
      padding: 20px 0;
      width: 100%;
      border-bottom: 1px solid black;
    }
  
    .header-title img {
      padding-left: 25px;
    }
    .navbar__toggle .bar {
      transition: all 0.3s ease-in-out;
      display: inline-block;
      cursor: pointer;
      font-size: 1.8rem;
    }
    .navbar__links {
      padding: 0;
      display: inline-block;
      width: 100%;
    }
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 0;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  }
  