  .header-title img {
    width: 5rem;
    border-radius: 50%;
  }

  .header-nav {
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }

  .nav {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 4rem;
    z-index: 200;
  }

  .navbar__links {
    color: green;
    text-decoration: none;
  }

  .header-nav li a {
    transition: 0.1s ease;
  }

  .header-nav li a:hover {
    text-decoration: underline;
  }

  .navbar__toggle .bar {
    display: none;
  }

  @media screen and (max-width: 960px) {
    .nav {
      flex-direction: column;
      width: 100%;
      margin: auto;
      position: absolute;
      top: -1000px;
      left: 0;
      transition: all 0.5s ease-in-out;
      background: white;
      gap: 0;
      font-size: 1.3rem;
      text-align: center;
      background: var(--karat);
    }

    .nav.active {
      top: 20%;
    }

    .nav.active .navbar__item {
      padding: 20px 0;
      width: 100%;
      border-top: 1px solid black;
    }

    .navbar__toggle .bar {
      transition: all 0.3s ease-in-out;
      display: inline-block;
      cursor: pointer;
      font-size: 1.8rem;
    }

    .header-nav li a:hover {
      padding-left: 1rem;
    }
  }