:root {
    --tree-cover-width: 200px;
    --tree-cover-width-large: 325px;
    --tree-cover-aspect-ratio: 0.75;
}

.tree-cover {
    width: var(--tree-cover-width);
    height: calc(var(--tree-cover-width) / var(--tree-cover-aspect-ratio));
    border-radius: 8px;
}

.tree-cover-large {
    --tree-cover-width: var(--tree-cover-width-large);
}

.tree-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--tree-cover-width));
}

.tree-grid img {
    border-radius: 10px;
}

.tree-grid a:hover {
    transform: scale(0.9);
    transition: ease-in-out .2s;
    color: var(--karat);
}

.tree-grid a {
    text-decoration: none;
    color: green;
    text-align: center;
}

.tree-grid-large {
    grid-template-columns: repeat(auto-fill, var(--tree-cover-width-large));
}

.tree-details {
    display: flex;
}

@media (width < 1150px) {
    .tree-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tree-details-grid {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.tree-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.tree-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    /* grid-template-columns: auto auto; */
    grid-template-columns: repeat(auto-fill, 500px);
    margin-left: 200px;
}

.tree-details-btn-grid {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.tree-details-author-button {
    grid-area: author;
    justify-self: stretch;
}