<h2 class="page-header">Edit Tree Details</h2>
<form action="/trees/<%= tree.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/trees">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>