<h2 class="page-header">Search Trees</h2>
<form action="/trees" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Tree Name</label>
      <input type="text" name="tree_name" value="<%= searchOptions.tree_name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<%- include('../partials/bookGrid', { trees: trees, large: false }) %>