<h2 class="page-header">New Category</h2>
<form action="/categories" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/categories" title="Cancel"><i class="fas fa-times"></i></a>
    <button class="btn btn-primary edit-button" type="submit" title="Add item"><i class="fas fa-plus"></i></button>
  </div>
</form>